* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

span{
    vertical-align: middle;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.typewriter {  /* √ div 1 */
    font-family: American Typewriter;
    font-size: 10px;
    grid-area: 1 / 1 / 2 / 6; 
    background-color: mediumslateblue;
    text-align: center;
    font-weight: normal;
}   

.quote-display { /* √ div 2 */
    grid-area: 4 / 2 / 5 / 5; 
    background-color:black;
    color: white;
    font-size: 150%;
    text-align: center;
}  
.quote-input { /* √ div 3 */
    grid-area: 5 / 2 / 6 / 5; 
    background-color: rgb(223, 130, 223);
    text-align: center;
    
}   

input[type="text"]:focus {
  outline: 2px solid peachpuff;
}

/* #word-input:focus { 
    box-shadow: 0 0.1em 0.5em peachpuff;
} */

.office-photo { /* div 4 */
    grid-area: 2 / 2 / 4 / 5; 
    background-color: rgb(114, 180, 180);
} 
.jam {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.formCSS { /* div 5 */
    grid-area: 4 / 1 / 6 / 2; 
    background-color: mediumpurple;
    text-align: center
}  
.wpm { /* div 6 */
    grid-area: 2 / 1 / 3 / 2; 
    background-color: violet;
    text-align: center;
    
}      
.timer { /* div 7 */
    grid-area: 3 / 1 / 4 / 2; 
    background-color: peachpuff;
    text-align: center;
}   
.high-scores { /* div 8 */
    grid-area: 2 / 5 / 6 / 6; 
    background-color: powderblue;
    text-align: center;
} 

h3 { /* div 5 */
    position: relative; 
    top: 60px;
    text-align: center;
} 

#replay { 
    position: relative;
    left: 240px;
}




